<!-- <img src="../assets/nn.jpg" width="40px" height="40px" > -->
<html >
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    </head>
    <mat-toolbar>
    <span id="title" style="margin-left:50px; font-size: larger;font-weight: bold;font-family:Trirong,serif; color: #9400FF;">To-Do-Trackers</span>   
    <mat-icon routerLink="login" style="margin-left:70%; color: #9400FF; cursor: pointer;" matTooltip="Login">person</mat-icon>
    </mat-toolbar>
<body style="height:fit-content;">
    <router-outlet  ></router-outlet>
</body>
<br>
<br>
<div class="footer" style="font-size:large;display:flex; ">

    <div class="footer_contents">
        <h4>&copy;2020-2023 All rights reserved</h4>
        <h4 class="footercenter">Keep in touch</h4>
        <img src="../../assets/facebook.png">
        <img src="../../assets/instagram.png">
        <img src="../../assets/twitter.png">
        <h4 class="footercenter1">India</h4>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    </div>

</div>
   
    
</html>